<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.netflixproject">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetflixProject">
        <activity
            android:name=".activities.Payment"
            android:exported="false" />
        <activity
            android:name=".activities.PaymentGateway"
            android:exported="false" />
        <activity
            android:name=".activities.StepThree"
            android:exported="false" />
        <activity
            android:name=".activities.StepTwo"
            android:exported="false" />
        <activity
            android:name=".activities.FinishUpAccount"
            android:exported="false" />
        <activity
            android:name=".activities.ChooseYourPlan"
            android:exported="false" />
        <activity
            android:name=".activities.StepOne"
            android:exported="false" />
        <activity
            android:name=".mainscreens.MainScreen"
            android:exported="false" />
        <activity
            android:name=".activities.SwipeScreen"
            android:exported="false" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainscreens.MainActivity"
            android:exported="true" />
<!--        <receiver-->
<!--            android:name="com.razorpay.RzpTokenReceiver"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="rzp.device_token.share" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <meta-data
            android:name="com.razorpay.Apikey"
            android:value="rzp_test_Bs3qw5iSflSOu2"/>
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>


    </application>

</manifest>